<!-- BARRA DE NAVEGACION -->
<div>
  <nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container-fluid">
      <a class="letraslogo" href="home">
        BOOKGEON
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbarPrincipal" id="navbarColor02">
        <ul container class="navbar-nav me-auto ">
          <li item class="nav-item">
            <a class="btn btn-dark" href="">Cerrar Sesión
            </a>
          </li>
          <li item class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


<!-- QUIENES SOMOS  -->
<div class="cuerpo2">
  <div>
    <h2>BIENVENIDO</h2>

  </div>
  <div>
    <img class="imagenbienvenida" src="../../assets/imagenes/welcome.png" />
  </div>

</div>