<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <a href="../../favicon.ico">LOGO</a>
      <nav>
        <ul>
          <li><a href="/index.html">Inicio</a></li>
          <li>
            <a href="">Genero<i class="fa-solid fa-caret-down"></i></a>
          </li>
          <li>
            <a href="">Ofertas<i class="fa-solid fa-caret-down"></i></a>
          </li>
        </ul>
      </nav>

      <a href="#"
        ><button id="usButton">
          <app-users [dataUsuario]></app-users>
        </button>
        ></a
      >
    </header>
  </body>
</html>
