<mat-card class="cartilla">
    <div class="cabeceraCartilla" style="text-align:center;">
        <mat-card-title>Modificar Reporte</mat-card-title>
    </div>
    <br>
    <form [formGroup]="reporteNuevo">
        <mat-form-field class="campos-field">
            <input matInput placeholder="Asunto" [(ngModel)]="data.asunto" formControlName="asunto">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Detalles" [(ngModel)]="data.detalles" formControlName="detalles">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Involucrados" [(ngModel)]="data.involucrados" formControlName="involucrados">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Conclusion" [(ngModel)]="data.conclusion" formControlName="conclusion">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Fecha" [(ngModel)]="data.fecha" formControlName="fecha">
        </mat-form-field>
        <div class="modal-footer2">
            <button class="btn btn-light"  [disabled]="!reporteNuevo.valid" (click)="onSubmit()">Guardar</button>
            <button class="btn btn-light" color="accent" (click)="cancelar()">Cancelar</button>
        </div>
    </form>

</mat-card>