/* You can add global styles to this file, and also import other style files */
/* app/styles.css */

body {
  background-size: fixed;
  background-position: center center;
  background-size: 50rem;
  background: #253642;
  background-image: url("./assets/imagenes/fondo.jpg");
}

.custom-form {
  min-width: 300px;
  max-width: 60%;
  margin: 0px auto;
  background: rgba(255, 255, 255, 0.15);
  padding: 2rem 3rem;
  margin: auto;
  border-radius: 2.5rem;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  color: black;
  margin-top: 10rem;
}

.custom-form input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8),
    inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  border: 0 none;
  background: #ebf5fc;
}

.custom-form button {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: bold;
  background-color: #bcd8c1;
  width: 100%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  cursor: pointer;
}


.letraslogo {
  margin-left: 3rem;
  font-size: 2rem;
  font-family: "Luminari";
}

.navbarPrincipal {
  display: flex;
  align-items: flex-end;
}

.navbarPrincipal li {
  padding-right: 1rem;
}

a {
  color: #ffffff;
  text-decoration: none;
}

nav {
  margin-bottom: 3rem;
  background-color: rgb(10, 10, 10)
}

.carrusel {
  background-color: rgb(10, 10, 10);
  justify-content: center;
}

.elementocarrusel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagencarrusel {
  width: 15rem;
}

.textoelementocarrusel {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 20rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.letrascarrusel {
  color: white;
  text-align: center;
}

.cuerpo {
  color: white;
  margin-top: 3rem;
  background-color: rgb(10, 10, 10);
}

.cuerpo div {
  display: inline;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
  margin-right: 3rem;
}

.cuerpo h2 {
  text-align: center;
  padding-top: 2rem;
}

.cuerpo h5 {
  text-align: center;
  padding-top: 1rem;
}

.cuerpo p {
  text-align: center;
  padding-top: 1rem;
}

.mimodal {
  color: rgb(255, 255, 255);
  padding-top: 0rem;
  background-color: rgb(10, 10, 10);
}

.botoncabecera {
  display: flex;
  justify-content: right;
}

.botonequis {
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 0;
  border: none;
  background: none;

}

.modal-cabecera {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-cabecera h4 {
  padding: 0;
  align-self: left;
  padding-top: 1rem;
}

.imagenbotonsalir {
  width: 1.5rem
}

.modal-cuerpo {
  margin-bottom: 2rem
}

.cuerpo2 {
  height: 20rem;
  color: white;
  margin-top: 3rem;
  background-color: rgb(10, 10, 10);
}

.cuerpo2 div {
  display: flex;
  justify-content: center;
  margin-left: 3rem;
  margin-right: 3rem;
}

.cuerpo2 h2 {
  text-align: center;
  padding-top: 2rem;
}

.imagenbienvenida {
  margin-top: 2rem;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.datagrid {
  background-color: rgb(10, 10, 10);
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 5rem;
  border-radius: 1rem;
  color: white;
}

.datagrid2 {
  padding: 3rem;
}

.footers-modulos {
  height: 5rem;
  color: white;
  margin-top: 3rem;
  background-color: rgb(10, 10, 10);
}

.footers-modulos div {
  display: flex;
  justify-content: center;
}

.footers-modulos h6 {
  margin-top: 2rem;
}

.cajabusqueda {
  color: white;
}

.modal-footer2 {
  display: flex;
  justify-content: center;
}

.modal-footer2 button {
  color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-family: 'Viga', sans-serif;
  background-color: rgb(10, 10, 10);
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  align-items: center;
}

.cabeceraCartilla {
  margin-top: 2rem;
}